.background-image {
  background-size: cover; /* Deckt den gesamten Bereich ab */
  background-position: center; /* Zentriert das Bild */
  background-attachment: fixed; /* Fixiert das Bild beim Scrollen */
  position: relative; /* Relative Positionierung, falls andere Stilelemente darauf aufbauen */
  height: 100vh;
}
  
  .registration-container2 {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7); /* Dunkelgrau, semi-transparent */
  padding: 40px 50px;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: auto;
  max-width: 600px;
  max-height: 590px;
  height: auto;
  text-align: center;
  color: white; /* Setzt die Textfarbe allgemein auf Weiß */
  }
  
  .inputField {
    color: white; /* Textfarbe der Eingabefelder */
  }
  
  /* Stellt sicher, dass Links in Weiß angezeigt werden */
  a {
    color: white;
  }
  .mb-4{
    color:white
  }
  .inputField input {
    color: white !important; /* Erzwingt die Textfarbe Weiß */
    background-color: rgba(255, 255, 255, 0.1) !important; /* Leicht transparenter weißer Hintergrund */
    border: 1px solid #ccc; /* Grenze, optional */
}

.inputField input::placeholder {
    color: white !important; /* Erzwingt die Farbe des Platzhaltertexts */
}

  