#chat2 .form-control {
  }
  
  #chat2 .form-control:focus {
    box-shadow: inset 0px 0px 0px 1px transparent;
    background-color: #060454;
  }
  
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
  }

  .Text{
    color: black ;
  }

  .CBody{
    display: flex; 
    flex-direction: column;
  }

  .Right {
    color: green;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    max-width: 60%;
    align-self: flex-end;
    text-align: right;
}

.Left {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    max-width: 60%;
    align-self: flex-start;
    text-align: left;
}

.message-container { 
    display: flex;
    flex-direction: column;
}