
  #chat2 .form-control:focus {
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
  }

  .Text{
    color: black ;
  }

  .CBody{
    display: flex; 
    flex-direction: column;
  }

  .Right {
    background-color: rgb(47, 117, 47);
    color: white;
    padding: 10px;
    margin: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: inline-block;
    width: 50%;
    max-width: fit-content;
    align-self: right;
    justify-content: center;
    text-align: right;
}

.Left {
    background-color: rgb(47, 47, 117);
    color: white;
    padding: 10px;
    margin: 10px;
    width: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    max-width: fit-content;
    align-self: flex-start;
    text-align: left;
}

.TimeL{
  font-size: 9px;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.message-container .Right {
    align-self: flex-end; 
}

.date-header {
  display: flex;
  align-items: center;
  margin: 10px 0;
  text-align: center;
  color: #e4dddd;
}

.date-header .line {
  flex: 1;
  height: 1px;
  border-radius: 30px;
  background-color: #797474;
}

.date-header .date-text {
  margin: 0 10px;
  white-space: nowrap;
}

.typing-indicator {
  padding: 10px;
  color: #ffffff;
  font-style: italic;
  text-align: center;
  display: inline-block;
  max-width: fit-content;
  align-self: flex-start;
}
