/* Stelle sicher, dass die Navbar den gesamten horizontalen Platz einnimmt */
.navbar {
  position: sticky;
  top: 0;
  width: 100%; 
  margin-left: auto; /* Zentriert die Block-Elemente horizontal */
  margin-right: auto;
  background-color: #184c8c;
}


/* Sorgt dafür, dass das Dropdown-Menü sich innerhalb der Grenzen der Navbar befindet */
.nav-dropdown, #collapsible-nav-dropdown {
  position: static; /* Übergeordnete Positionierung für Dropdown-Menü auf 'static' setzen */
}

/* Dropdown-Menü-Position anpassen */
.dropdown-menu {
  position: absolute; 
  left: auto; /* Setze den linken Rand auf 'auto', damit das Menü rechtsbündig ausgerichtet wird */
  right: 0; /* Richte das Menü rechts aus */
  top: 1000%; /* Positioniere das Menü direkt unter der Nav-Komponente */
  background-color: teal;
}

/* Dropdown-Menü für mobile Ansicht anpassen */
@media (max-width: 768px) { /* Bootstrap mobile Ansicht Breakpoint */
  .navbar-nav {
    flex-direction: column; /* Staple die Nav-Elemente vertikal */
    position: sticky;
    
  }

  .nav-dropdown, #collapsible-nav-dropdown {
    position: sticky; /* Setze die Position auf 'static', um ein korrektes Verhalten in der mobilen Ansicht zu gewährleisten */
  }


}

.Nav-Link {
  text-align: center; /* Zentriert den Inhalt des Links */
  position: sticky;
}

.Nav-Link img, .Nav-Link div {
  display: block; /* Sorgt dafür, dass das Bild und der Text als Block-Elemente gerendert werden */
  margin-left: auto; /* Zentriert die Block-Elemente horizontal */
  margin-right: auto;
  position: sticky;
}

