

.img-fluid {
    
    margin-bottom: 20px; /* Abstand unter dem Logo */
}

form {
    width: 100%; /* Maximale Breite der Form */
    max-width: 500px; /* Begrenzt die Breite auf 500px */
    padding: 20px;
}

input.form-control, button.btn {
    width: 100%; /* Setzt die Breite der Eingabefelder und Buttons auf 100% der Form */
}


.small-text {
    font-size: 12.5px; /* Oder jede andere gewünschte Größe */
}

.background-city{
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-text-large {
    font-size: 9px; /* Größe des Textes anpassen */
}

input[type="submit"],
select {
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
}
