/* PageIntroduction.css */
.horizontal-scroll-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll; /* Geändert von auto zu scroll, um das Scrollen zu erzwingen */
    width: 100vw;
    scroll-snap-type: x mandatory;
}

.horizontal-section {
    flex: 0 0 100vw;
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.section1 { background-color: #f8b400; }
.section2 { background-color: #1e90ff; }
.section3 { background-color: #ff6347; }
.section4 { background-color: #32cd32; }

.arrow {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.arrow-left { left: 20px; }
.arrow-right { right: 20px; }
