.background-customer, .background-worker {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-size: cover;
    background-position: center;
  }
  
  .container-frame {
    width: 600px;
    height: 400px;
    background-color: #2D5277;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  .role-selection button {
    margin: 10px;
    padding: 10px 20px;
  }
  
  .anmelden-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
  }
  
  .background-customer {
    background-image: url('C:\Users\Ahmad\Desktop\project-sfae-3\mein-app-name\public\picture1.jpg'); /* Aktualisiere diesen Pfad */
  }
  
  .background-worker {
    background-image: url('C:\Users\Ahmad\Desktop\project-sfae-3\mein-app-name\public\Sfae_Logo.png'); /* Aktualisiere diesen Pfad */
  }
  