.background {
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-frame {
    width: calc(100% - 4cm); /* Reduziert die Gesamtbreite um 4cm, je 2cm auf jeder Seite */
    height: calc(100% - 4cm); /* Reduziert die Gesamthöhe um 4cm, je 2cm auf jeder Seite */
    background-color: #104E8B; /* Hintergrundfarbe des Containers */
    padding: 20px; /* Optional, für Innenabstand */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Optional, fügt Schatten für Tiefe hinzu */
    border-radius: 20px; /* Fügt abgerundete Ecken hinzu */

}