.page-background { 
  background: transparent;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 20px;
}
.navbar{
  backdrop-filter: blur(10px);
}
.navbar-links {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-grow: 1;
}

.page-background ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.page-background ul li {
  margin: 0 20px;
}

.page-background ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
}

.page-background ul li a:hover {
  background-color: white;
  color: black !important;
  border-radius: 15px;
}

body, button, input, textarea, h1, p {
  font-family: 'Roboto', sans-serif; 
}

.icons-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px; /* Abstand zwischen den Icons */
}

.icon-img {
  width: 50px;  /* Gleiche Breite für beide Icons */
  height: 50px; /* Gleiche Höhe für beide Icons */
  cursor: pointer;
  transition: transform 0.3s;
}

.icon-img:hover {
  transform: scale(1.1);
}

.notification-icon:hover img {
  animation: wobble 0.5s ease-in-out infinite;
}

.icon-label {
  font-size: 12px;  /* Kleine Schriftgröße für die Labels */
  color: white;
  margin-top: 5px;  /* Abstand zwischen dem Icon und dem Label */
}

@keyframes wobble {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.chat-container {
  position: fixed;
  top: 0;
  right: -120% !important;
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease;
  z-index: 1000; 
  border-left: white solid;
}

.chat-container.show {
  right: 0;
}

.notification-badge {
  position: absolute;
  top: 20px;
  right: 6.3%;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.logo{
  width: 75px;
  height:75px
}
.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.icon-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon-label {
  font-size: 12px;
}

.notification-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.blink {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
