.background-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.worker-registration-container {
    background: rgba(0, 0, 0, 0.7); /* Dunkelgrau, semi-transparent */
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    color: white; /* Textfarbe auf Weiß setzen */
}

/* Textfarbe für Inputfelder und Textarea erzwingen */
.worker-registration-container input,
.worker-registration-container select,
.worker-registration-container textarea {
    color: white !important; /* Textfarbe der Eingabefelder erzwingen */
    background-color: rgba(255, 255, 255, 0.1) !important; /* Leicht transparenter weißer Hintergrund */
    border: 1px solid #ccc; /* Graue Grenze hinzufügen */
}

/* Farbe des Platzhaltertexts erzwingen */
.worker-registration-container input::placeholder,
.worker-registration-container textarea::placeholder {
    color: white !important;
}

.worker-registration-container a {
    color: white; /* Farbe der Links auf Weiß setzen */
}

.worker-registration-container .mb-4,
.worker-registration-container label {
    color: white !important; /* Textfarbe auf Weiß setzen */
}

.option-black {
    color: black !important; /* Stellt die Schriftfarbe sicher */
}

