.background-image {
  background-image: url('/public/b1.jpg'); /* Überprüfen Sie den korrekten Pfad */
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -40%);
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 30px;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 100px; /* Fügen Sie hier genügend Platz ein */
}

.inputField1 {
  margin-bottom: 10px; /* Verringern Sie den unteren Rand */
  width: 100% !important; /* Setzt die Breite auf 100% des umgebenden Containers */
  max-width: 400px; /* Optional: Maximale Breite verringern */
}

.button {
  width: 100%;
  margin-bottom: 10px;
}

.sticky-toolbar {
  position: sticky;
  bottom: 0;
  background-color: #001325;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0;
}
