.background123 {
    background-image: url('/public/b1.jpg'); /* Überprüfen Sie den korrekten Pfad */
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0 20px;
    background-size: cover; /* Optional: Passt das Hintergrundbild an */
    background-position: center; /* Optional: Zentriert das Hintergrundbild */
}

.animation-Worker_2 {
    position: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }