.link {
    color: rgb(0, 0, 0); /* Farbe des Links anpassen, falls nötig */
}

.input-group {
    width: 100%;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: linear-gradient(to right, rgba(51, 112, 32, 0.5), rgba(150, 100, 200, 0.5));
    /* More compatible gradients for older browsers */
    background: -webkit-linear-gradient(to right, rgba(100, 200, 220, 0.5), rgba(150, 100, 200, 0.5));
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: linear-gradient(to right, rgba(100, 200, 220, 1), rgba(150, 100, 200, 1));
    /* More compatible gradients for older browsers */
    background: -webkit-linear-gradient(to right, rgba(100, 200, 220, 1), rgba(150, 100, 200, 1));
}

/* Stellt sicher, dass der Text in den Inputfeldern immer sichtbar ist */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    color: black; /* oder eine andere Farbe, die gut sichtbar ist */
    background-color: white; /* oder eine andere Farbe, die den Text abhebt */
    border: 1px solid #ccc; /* optional, fügt einen sichtbaren Rahmen hinzu */
}

/* Stellt sicher, dass Inputfelder einen sichtbaren Rand und ausreichend Padding haben */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
}

select.form-select {
    color: black; /* Textfarbe */
    background-color: white; /* Hintergrundfarbe */
    border: 1px solid #ccc; /* Rahmenfarbe */
    -webkit-appearance: none; /* Entfernt den nativen macOS-Stil in WebKit-Browsern */
    appearance: none; /* Standard-Dropdown-Stil entfernen */
}

/* Anpassen des Dropdown-Elements beim Fokussieren */
select.form-select:focus {
    outline: none; /* Entfernt den blauen Umriss bei Fokus */
    box-shadow: 0 0 5px rgba(81, 203, 238, 1); /* Optional: fügt einen subtilen Schatten hinzu */
}

/* Stil für die Optionen im Dropdown */
select.form-select option {
    background-color: white; /* Hintergrundfarbe für Optionen */
    color: black; /* Textfarbe für Optionen */
}