@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


.parent {
  display: grid;
  justify-content: center; 
  align-items: center;    
  height: 100vh;          
}

.container-frame30 {
  display: grid;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 12px;
  width: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin:auto;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  height: 85vh;
  max-height: 700px;
  max-width: 700px;
  overflow-y: auto;
}

.map-container{
  
}
.Backg{
  background-image: url('/public/b1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Vollbildhöhe */
}


.myButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.myButton:hover {
  background-color: #0056b3;
  color: black;
}

.form-content .form-label {
  color: white;
}




@media only screen and (max-width: 1000px) {

  .myButton{
    font-size: 5vh;
  }

  .form-content .form-label {
    color: white;
  }
}