.page-background { 
  background: transparent;
  background-color: transparent;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 20px;
}


.navbar-links {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-grow: 1;
}

.page-background ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.page-background ul li {
  margin: 0 20px;
}

.page-background ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
}

.page-background ul li a:hover {
  background-color: white;
  color: black !important;
  border-radius: 15px;
}

body, button, input, textarea, h1, p {
  font-family: 'Roboto', sans-serif; 
}


.page-background {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 20px;
  position: relative; 
  z-index: 1; 
}

.content { 
  position: relative;
  z-index: 1; 
}


.notification-icon {
  order: 3;
  margin-left: auto;
  margin-right: 100px; /* Verschiebt das Icon weiter nach links */
}

.notification-icon img {
  width: 40px;  /* Setze die gewünschte Breite */
  height: 40px; /* Setze die gewünschte Höhe */
}
@keyframes wobble {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.notification-icon:hover img {
  animation: wobble 0.5s ease-in-out infinite;
}


.notification-icon {
  cursor: pointer;
}

.chat-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease;
  z-index: 1000; 
  border-left: white solid;
}

.chat-container.show {
  right: 0;
}

.notification-badge {
  position: absolute;
  top: 20%;
  right: 6.3%;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}