.page-background { 
  background: transparent;
  background-color: transparent;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 20px;
}

.navbar-links {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-grow: 1;
}

.page-background ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.page-background ul li {
  margin: 0 20px;
}

.page-background ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
}

.page-background ul li a:hover {
  background-color: white;
  color: black !important;
  border-radius: 15px;
}

body, button, input, textarea, h1, p {
  font-family: 'Roboto', sans-serif; 
}

.icons-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px; /* Abstand zwischen den Icons */
}

.logout-icon {
  width: 50px;  /* Gleiche Breite wie das Notification-Icon */
  height: 50px; /* Gleiche Höhe wie das Notification-Icon */
  cursor: pointer;
  transition: transform 0.3s;
}

.logout-icon:hover {
  transform: scale(1.1);
}

.notification-icon {
  cursor: pointer;
}

.notification-icon img {
  width: 50px;  /* Gleiche Breite wie das Logout-Icon */
  height: 50px; /* Gleiche Höhe wie das Logout-Icon */
}

.notification-icon:hover img {
  animation: wobble 0.5s ease-in-out infinite;
}

.icon-label {
  font-size: 12px;  /* Kleine Schriftgröße für die Labels */
  color: white;
  margin-top: 5px;  /* Abstand zwischen dem Icon und dem Label */
}

@keyframes wobble {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.chat-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease;
  z-index: 1000; 
  border-left: white solid;
}

.chat-container.show {
  right: 0;
}

.notification-badge {
  position: absolute;
  top: 20%;
  right: 6.3%;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}
