/* Rotes Füllung */
.customFill {
    fill: red;
  }
  
  /* Grüne Füllung */
  .customFill {
    fill: green;
  }
  
  /* Blaue Füllung */
  .customFill {
    fill: blue;
  }
  
  .Rating{
    font-size: 200px;
  }

  
.custom-container4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7); 
  padding: 40px;
  border-radius: 12%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: auto;
  max-width: 100%;
  text-align: center;
  color: white;
  width: 80%;
  max-height:800px;
}