/* Rotes Füllung */
.customFill {
    fill: red;
  }
  
  /* Grüne Füllung */
  .customFill {
    fill: green;
  }
  
  /* Blaue Füllung */
  .customFill {
    fill: blue;
  }
  
  .Rating{
    font-size: 200px;
  }

  .Left-Picture{
    display: flex;
    order: 1;
  }

  .question{
    display: flex;
    order: 2;
  }